fastapi==0.103.2
GeoAlchemy2==0.14.1
python-keycloak==3.3.0
pydantic==2.4.2
pydantic-settings==2.1.0
python_jose==3.3.0
Requests==2.31.0
SQLAlchemy==2.0.21
pydantic[email]
uvicorn==0.23.2
boto3==1.28.73
Shapely==2.0.2
googlemaps==4.10.0
geoalchemy2[shapely]
cachetools==5.3.2
stream-chat==4.11.0
firebase-admin==6.3.0